<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shiyuji">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">

        <!--HBY-->
        <activity android:name="com.shiyuji.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shiyuji.LoginActivity" />
        <activity android:name="com.shiyuji.SignUpActivity" />
        <activity android:name="com.shiyuji.FindPasswordActivity" />
        <activity android:name="com.shiyuji.Settings" />
        <activity android:name="com.shiyuji.InfoSettings" />
        <activity android:name="com.shiyuji.NoticeSettings" />
        <activity android:name="com.shiyuji.AboutSettings" />
        <activity android:name="com.shiyuji.QuestionSettings" />
        <activity android:name="com.shiyuji.FeedbackSettings"/>
        <activity android:name="com.shiyuji.ContactSettings"
            android:windowSoftInputMode="adjustPan" />

        <!--GZQ-->
        <activity android:name="com.shiyuji.Main1Activity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.shiyuji.Main2Activity" />
        <activity android:name="com.shiyuji.UserActivity" />
        <activity android:name="com.shiyuji.User2Activity" />

        <!--YCH-->
        <activity android:name="com.shiyuji.Main3Activity" />
        <activity android:name="com.shiyuji.shipinleiActivity" />
        <activity android:name="com.shiyuji.feiyibiaoqian" />
        <activity android:name="com.shiyuji.sousuo" />
        <activity android:name="com.shiyuji.zhibo" />

        <!--LJY-->
        <activity android:name="com.shiyuji.Trneds" />
        <activity android:name="com.shiyuji.Write" />
        <activity android:name="com.shiyuji.channel" />
        <activity android:name="com.shiyuji.channel_videoa" />
        <activity android:name="com.shiyuji.self_write" />
    </application>

</manifest>